.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    
    left: 0%;
    height: 90%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
}
.video-container video.fillWidth {
    width: 100%;
}

#tiny-text {
    position: absolute;
    color: #ffffff;
    text-align: left;
    left:4%;
    bottom:10%;
    font-size:1em;
}

#hero-title {
    position: relative;
    color: #ffffff;
    text-align: center;
    top:30%;
    font-size:4em;
}

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

#hero-subtitle {
    position: relative;
    color: #ffffff;
    font-size:2.5em;
    text-align: center;
    top:33%;
}

#rotate {
    /*opacity: 0;
    transition: opacity 1s linear;*/

}

#social-navbar {
    
    position:fixed;
    bottom:2%;
    right:2%;
    
}

#social-navbar2 {
    position:fixed;
    top:48%;
    margin-left:95%;

}

.sections {
    position: relative;
    top:5%;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    padding-left:7%;
    padding-bottom:5%;
    overflow: hidden;
    background: #ffffff;
}

.heading {
    color: #aaaaaa;

}

#top-margin {
    margin-top:6%;
}

.bottom-spacing {
    padding-bottom:8%;
    color: #252525;
    font-family: 'Varela Round', sans-serif;
}

.image-container {
    position: relative;
    height:300px;
    width:500px;
}

.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
    padding-top:30%;
    text-align: center;
    font-size:1.5em;
    font-family: Helvetica;
    color: #c5b395;
}

.animbox-icon {
    border-radius: 0px;
    border: 2px solid #9a8e5e;
    color: #fff;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.animbox {
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9A8E5E;
    background: #9A8E5E;
    cursor: default;
    padding: 17px 35px;
    width: 250px;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 90;
}

#godown {
    position: absolute;
    bottom:20%;
    margin-left:48%;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 150px;
  background-color: #f5f5f5;
}
