@media only screen and (max-width: 650px) {

}

.hideme
{
    opacity:0;
}
/* 
.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;  
    height:50em;
    left: 0%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);

}

.video-container video {
    position: absolute;
    z-index: 0;
}

.video-container video.fillWidth {
    min-width: 100%;
} */

#tiny-text {
    position: relative;
    color: #ffffff;
    font-size:15px;
    margin-top: 20px;
    text-align: center;
}

#hero-title {
    position: relative;
    color: #ffffff;
    text-align: center;
    font-size:4em;
    padding-top: 150px;
}

#hero-subtitle {
    position: relative;
    color: #ffffff;
    font-size:2.5em;
    text-align: center;
    margin-top: 20px;
}

.fadeIn {
    /*opacity: 0;
    transition: opacity 1s linear;*/
}

#social-navbar {
    position:fixed;
    bottom:2%;
    right:2%; 
    z-index: 1;  
}

.image-container {
    position: relative;
    height:200px;
    max-width:425px;
    overflow:hidden;
    float:left;
}

.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
    padding: 85px 0;
    text-align: center;
    font-size:1.2em;
    color: #ffffff;
}

.animbox-icon {
    border-radius: 0px;
    border: 2px solid #9a8e5e;
    color: #fff;
    overflow: visible;
}

.animbox {
    border: none;
    font-size: 14px;
    color: #9A8E5E;
    background: #9A8E5E;
    cursor: default;
    text-align: center;
    padding: 17px 0;
    width: 100%;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
}

#godown {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}

img {
  max-width:100%;
}

/* #vid-container {
    max-width: 100%; 
    position: absolute; 
    max-height: 40em; */
    /* height:40em; */
    /* margin-top:-14em; */
/* } */
/* #vid-container video { */
    /* max-width: 100%; */
    /* left:50%;  */
    /* transform:translateX(-50%); */
/* } */

/* video { */
    /* position: relative; */
    /* max-width: 100%; */
/* } */

/* .vidcover { */
    /* position: relative; */
    /* position:relative; */
    /* top:-70%;  */
    /* width:100%;  */
    /* min-height:100%;  */
    /* height:600px;  */
    /* max-height:100%;  */
    /* background-color:rgba(0,0,0,0.1); */
    /* max-width: 100%; */
    /* max-height: 40em; */
/* } */
/* @media (max-width: 650px){
  #heading {text-align:center; width:100%; height:50%; top:50%;}
  #logo {top:25%; left:50%; max-width:60%; max-height:50%;}
  @keyframes easeacross {0% {top:50%;} 30% {top:50%;} 100% {top:25%;}}
  #contact {top:0; transform:none;}
} */

video {
    height: auto;
    vertical-align: middle;
    width: 100%;
}

.overlay-desc {
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-phone-container {
    position: relative;
    height:35em;
    width:20em;
    margin-bottom:1em;
    margin-right:1em;
    overflow:hidden;
    float:left;
}

.image-phone-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
}

.image-phone-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
    padding: 175px 0;
    text-align: center;
    font-size:1.2em;
    color: #ffffff;
}

p {
    font-size: 15px;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
  
.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
